version: "3.9"

services:
  api:
    build: .
    container_name: uniassist_api
    ports:
      - "8000:8000"
    depends_on:
      - ollama
      - chromadb
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
      CHROMA_HOST: chromadb
      CHROMA_PORT: 8000
    volumes:
      - ./data:/app/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      IS_PERSISTENT: "TRUE"

volumes:
  chroma_data:
  ollama_data:

